.nombre1{
    font-size: 75px;
    color: #4318dd;
border: 5px;
margin-top: 20px;
margin-bottom: 70px;
margin-left:500px;
padding-top: 10px;
}

.nombre2{
    font-size: 75px;
    color: #c90c0c;
border: 5px;
margin-top: 20px;
margin-bottom: 70px;
margin-left: 500px;
padding-top: 10px;
}