.ti{
    margin-left: 500px;
    font-size:50px 
}

.p_am{
    color: #f0e009;
    font-size: 50px;
    margin-left: 600px;
}

.p_mo{
    color: #572364;
    font-size: 50px;
    margin-left: 600px;

}